{
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "cy": true,
    "AudioContext": true,
    "GainNode": true,
    "OscillatorNode": true,
    "DelayNode": true
  }
}
