$header-height: 48px;

$transition-time: 0.2s;
$transition-time-slow: 0.4s;

// note: this should match dimensions.js:
$rackHeight: 240px;
$rackWidth: 60px;
$cellHeight: 90px;
$cellWidth: 120px;

// --------------------------------------

$color-grey: #888;
$color-grey-dark: #333;
$color-grey-medium: #555;
$color-grey-light: #ccc;
$color-green: #1ed761;

$color-highlight: #54bfff;
$color-hover: #349fdf;

$border-radius: 4px;

// --------------------------------------

// $font-primary: 'Inconsolata', sans-serif; // Futura, Arial, sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;
