body {
  margin: 0;
  padding: 0;
  background-color: #000000; }

.container {
  margin: 0 auto; }


/* ---------------------------------------
  Elements
--------------------------------------- */
oscillator, filter {
	display:inline-block;
	padding: 20px;
	border:1px solid #fff;
}


/* ---------------------------------------
  Knob
--------------------------------------- */
.knob {
  width: 50px;
  height: 50px;
  border: 3px #ddd solid;
  border-radius: 30px;
  cursor: pointer;
  background: -moz-radial-gradient center, ellipse cover, white 0%, rgba(40, 40, 40, 0.4) 100%;
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, rgba(40, 40, 40, 0.4) 100%);
  background: -o-radial-gradient center, ellipse cover, white 0%, rgba(40, 40, 40, 0.4) 100%;
  background: -ms-radial-gradient center, ellipse cover, white 0%, rgba(40, 40, 40, 0.4) 100%;
  background: radial-gradient(ellipse at center, white 0%, rgba(40, 40, 40, 0.4) 100%);
  box-shadow: 0px 0px 3px #000; }

.notch {
  height: 25px;
  width: 2px;
  margin-left: -1px;
  position: relative;
  left: 50%;
  background: red;
  -webkit-transform-origin: center bottom;
  -webkit-transform: rotate(-160deg); }

.knob span {
  font:11px sans-serif;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #fff;
}


