audio-knob {

  width: 50px;
  height: 50px;
  display: block;

  border: 3px #ddd solid;
  border-radius: 30px;

  cursor: pointer;
  position: relative;

  box-shadow: 0px 0px 3px #000;

}

audio-knob div {

  width: 25px;
  height: 2px;

  position: relative;
  top: 50%;
  background: red;

  -webkit-transform-origin: right center;
  -webkit-transform: rotate(-70deg);

}

audio-knob span {
	position: absolute;
	bottom: -24px;
	width: 100%;
	text-align: center;
	font-size: 11px;
}