html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  margin: 0;
  padding: 0;
  background-color: #eee;

  font-family: Source Sans Pro, Helvetica, sans-serif;

}

.container {
  margin: 0 auto;
}

