* {
  box-sizing: border-box;
  user-select: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  margin: 0;
  padding: 0;
  background-color: #eee;

  font-family: Source Sans Pro, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
}

.node {
  padding: 1em;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: inline-block;
}

select {
  margin-bottom: 1em;
}


// input[type="range"] {
//   -webkit-appearance: slider-vertical;
//   -webkit-appearance: none;
//   background: #aaa;

//   /*width: 10px;*/
//   /*height: 200px;*/
//   width: 200px;
//   height: 10px;
//   -webkit-transform: rotate(-90deg);

//   position:absolute;
//   bottom:200px;
//   right: 0;
//   }

// input[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   background: rgba(128,128,128, 0.5);
//   height: 20px;
//   width: 20px;
//   cursor: pointer;
//   /*z-index: 1111;*/
//   }
