@import 'variables.scss';

.module {
  height: $cellHeight;
  width: $cellWidth;
  border: 1px solid #333;
  border-radius: 4px;
  position: absolute;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
  z-index: 1;

  &:hover {
    border-color: lightblue;
  }

  &.dragging {
    cursor: move;
    transition: none;
    opacity: 0.8;
  }

  &-details {
    background: #777;
    border-bottom: 1px solid #000;
    border-top: 1px solid #999;
    color: #000;

    h3 {
      font-weight: 700;
      padding: 0.1em 0.2em;
      margin: 0;
      // text-shadow: 0 0 1px #ddd;
    }
  }

  &-interface {
    padding: 2em 2.4em;
    visibility: hidden;
    transition: visibility 0s;    // yes you can do this (to delay the toggle of block/none);
  }

  &-connections {
    position: absolute;
    width: 100%;
    top: 12px;
    height: 0;

    span {
      margin: 8px 0;
      display: block;
      width: 3px;
      height: 12px;
      background: #eee; // #111;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 0.75em;

      &:hover {
        background: orange;
      }

      &:after {
        content: attr(data-label);
        width: 5em;
        position: absolute;
        text-transform: uppercase;
        line-height: 1.6;
      }
    }
  }

  .inlets {
    float: left;
  }

  .outlets {
    float: right;
  }

  .inlet {
    left: -5px;

    &:after {
      left: 1em;
    }
  }

  .outlet {
    right: -5px;

    &:after {
      right: 1em;
      text-align: right;
    }
  }
}

.play-mode {
  .module {
    width: #{$rackWidth * 2};   // default rack width is 2U
    height: $rackHeight;

    &._1U { width: $rackWidth; }
    &._2U { width: #{$rackWidth * 2}; }
    &._3U { width: #{$rackWidth * 3}; }

    &-interface {
      display: block;
      visibility: visible;
      transition-delay: 0.2s;
    }

    &-connections {
      display: none;
    }

    // &.math {
    //   width: 0;
    //   height: 0;  // hidden in play mode
    //   border: 0;
    //   overflow: hidden;
    // }
  }
}
