@import 'variables.scss';


/* --------------------------------
   Global
--------------------------------- */

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
  position: relative;
}

html, body {
  height: 100%;
  font-size: 10px;
}




main {
  height: 100%;
  color: #fff;
  background-color: #222; // #aaa;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

header {
  height: $header-height;
  width: 100%;
  background-color: #666;
  background: linear-gradient(187deg, #000 0%, #000 22%, transparent 22%) no-repeat, linear-gradient(192deg, transparent 22%, #000 22%, #000 26%, transparent 26%) no-repeat, linear-gradient(196deg, transparent 22%, #000 22%, #000 25%, transparent 25%) no-repeat, linear-gradient(-137deg, transparent 22%, #000 22%, #000 24%, transparent 24%) no-repeat, linear-gradient(201deg, #666 22%, #000 22%, #000 23%, #666 23%);
}

section {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: calc(100% - #{$header-height});
}

.pad {
  padding: 1em;
}


/* --------------------------------
   Typography
--------------------------------- */

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5 {
  margin-bottom: 0.5em;
  // font-family: Poppins, sans-serif;
  font-family: Oxygen, sans-serif;
}

h1 {}
h2 {}
h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-size: 0.8rem;
  font-weight: normal;
}



/* --------------------------------
   Synth
--------------------------------- */

#modules {
  flex: 1;
  // overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    width: 1em;
    height: 1em;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-medium;
    border: 2px solid $color-grey-dark;
    border-radius: 0.5em;
  }

  &::-webkit-scrollbar-corner {
    background: $color-grey-dark;
  }
}

#connections {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.1s;
  // transition-delay: 0.2s;
  transition-delay: $transition-time-slow;

  .play-mode & {
    opacity: 0;
    z-index: -1;
    transition-delay: 0s;
  }
}

#controls {
  flex-basis: 112px;
  background-color: #333; // #999;
  z-index: 9999;          // as nodes will increment their z-index

  .button {
    font-size: 1em;
  }
}






/* --------------------------------
   Buttons
--------------------------------- */

button {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1em;
  outline: none;

  &:focus {
    outline: none; // sorry :(
  }
}

.button {
  background-color: #54bfff;
  padding: 0.5em 1em;

  &:hover {
    background-color: #349fdf;
  }
}

.ring {
  border: .2em solid #000;
  border-radius: 50%;
  height: 2em;
  width: 2em;

  &.active {
    border-color: $color-green;
  }
}

.toggle {
  background-color: #999;  // inactive
  padding: 0.5em 1em;

  &--active {
    background-color: #54bfff;
  }
}

.mode {
  border: 1px solid #333;
  box-shadow: inset 0 0.2em 0.6em rgba(0, 0, 0, 0.3);
  background: #555;

  span {
    display: inline-block;
    padding: 0.5em 1em;
    z-index: 1;
    color: #999; // inactive
  }

  &:after {
    content: '';
    position: absolute;
    transition: left $transition-time;
    background-color: #54bfff;
    border-radius: 0.3em;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &:hover:after { background-color: #349fdf; }

  .edit-mode &:after { left: 50%; }
}

.play-mode .play { color: #fff; }
.edit-mode .edit { color: #fff; }

.power {
  svg {
    width: 4em;
    height: 4em;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(0 0px 1px rgba(153, 229, 163, 0.2));
  }

  &.on {
    svg {
      fill: $color-green;
      filter: drop-shadow(0 0px 4px rgba(153, 229, 163, 0.4));
    }
  }
}



.position-highlight {
  width: $rackWidth;
  height: $rackHeight;
  border: 4px dashed grey;
  // transition: all $transition-time;
  transition: left $transition-time, top $transition-time;
}


/* --------------------------------
   General
--------------------------------- */

.visible {
  visibility: visible !important;
}

select {
  background: $color-grey-medium;
  color: #fff;
  margin-bottom: 1em;
  border: 0;
  border-bottom: 1px solid $color-grey;
  border-radius: 0;
  height: 2em;
  padding: 0em 0.5em;
  -webkit-appearance: none;
}

meter,
input[type="range"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */

  background: #aaa;
  padding: 0 5px;

  height: 150px;
  width: 20px;

  &::-webkit-slider-thumb {
    background-color: red;
    -webkit-appearance: none;
    border: 1px solid #000000;
  }

  &:focus {
    outline: none;
  }
}
