// @import "nodes";
// @import "scss/knob";

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eee;
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

header {
  position: absolute;
  height: 80px;    // NOTE THE JS RELIES ON THIS TODO
  width: 100%;
  background-color: #333;
}

footer {
  display: none;
  flex-basis: 40px;
  width: 100%;
  background-color: #999;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 80px;    // NOTE THE JS RELIES ON THIS TODO
  flex-direction: row;
}

.container {
  margin: 0 auto;
}

#modules {
  padding: 2em;
  flex: 1;
  overflow: auto;
}

#connections {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: -1;
}

#controls {
  flex-basis: 150px;
  background-color: #999;
}

button {
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  background-color: green;
  color: white;
  display: inline-block;
  margin-bottom: 1em;

  &:hover {
    background-color: #696;
    cursor: pointer;
  }
}

.on {
  background-color: blue !important;
}

// .node {
//   padding: 1em;
//   border-radius: 5px;
//   border: 1px solid #999;
//   display: inline-block;
//   text-align: center;
// }

select {
  margin-bottom: 1em;
}

meter,
input[type="range"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */

  background: #aaa;
  padding: 0 5px;

  height: 150px;
  width: 20px;

  &::-webkit-slider-thumb {
    background-color: red;
    -webkit-appearance: none;
    border: 1px solid #000000;
  }

  &:focus {
    outline: none;
  }
}

// input[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   background: rgba(128,128,128, 0.5);
//   height: 20px;
//   width: 20px;
//   cursor: pointer;
//   /*z-index: 1111;*/
//   }
