@import "nodes";
// @import "scss/knob";

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #eee;
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

header {
  flex-basis: 80px;
  width: 100%;
  background-color: #333;
}

footer {
  flex-basis: 80px;
  background-color: #999;
}

main {
  flex: 1;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  // padding-right: 200px;
}


.container {
  margin: 0 auto;
}


// .rack {
//   padding: 2em;
//   flex: 1;
//   height: 600px;
//   background-color: #f4f4f4;
// }


#modules {
  padding: 2em;
  flex: 1;
}

#connections {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#controls {
  flex-basis: 200px;
  background-color: #999;
}





.node {
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #999;
  display: inline-block;
  text-align: center;
}

select {
  margin-bottom: 1em;
}


input[type="range"] {
  -webkit-appearance: slider-vertical;
  -webkit-appearance: none;
  background: #aaa;

  // width: 200px;
  height: 10px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}

// input[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   background: rgba(128,128,128, 0.5);
//   height: 20px;
//   width: 20px;
//   cursor: pointer;
//   /*z-index: 1111;*/
//   }
