
:root {
  --header-height: 40px;
  --gap: 24px;

  --transition-time: 0.2s;
  --transition-time-slow: 0.4s;

	/* note: this should match constants.js: */
  --rackHeight: 240px;
  --rackWidth: 60px;
  --cellHeight: 90px;
  --cellWidth: 120px;

	/* -------------------------------------- */

  --color-grey: #888;
  --color-grey-dark: #333;
  --color-grey-medium: #555;
  --color-grey-light: #ccc;
  --color-green: #1ed761;

  --color-highlight: #54bfff;
  --color-hover: #349fdf;
  --color-inactive: #999;

  --border-radius: 4px;

	/* -------------------------------------- */

  --font-primary: 'Futura', 'Trebuchet MS', Arial, sans-serif;
  --font-secondary: 'Nunito Sans', sans-serif;
  --duration: 0.2s;
}


/* --------------------------------
  Global
--------------------------------- */

*, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  background: linear-gradient(
    rgba(0, 0, 0, 0.666),
    rgba(0, 0, 0, 0.666) ),
    url('/images/bg.jpg'
  );
}

html, body {
  height: 100%;
  font-size: 10px;
}

main {
  height: 100%;
  color: #fff;
  /* background-color: #222; */
  /* background: linear-gradient(to bottom, #2a2a2a 0%, #1a1a1a 100%); */
  font-family: var(--font-primary);
  min-width: 600px;
}

@property --a1 {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
@property --a2 {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --p1 {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@keyframes wave {
  40% {--a1: 5deg; }
  100% {--a1: 0deg; }
}

@keyframes swir {
  40% {--a2: 4deg; }
  60% {--a2: 7deg; }
  100% {--a2: 0deg; }
}

@keyframes perc {
  33% {--p1: 3%; }
  66% { --p1: -5%; }
  100% {--p1: 0%; }
}


header {
  --grad1: rgba(182,158,123,0.4); /* transparent */
  --grad2: rgba(110,96,175,0.4); /* transparent */
  --grad3: rgba(96,112,96,0.4); /* transparent */

  border-bottom: 1px solid var(--color-grey-dark);
  box-shadow: inset 0 -2px 4px var(--color-grey-medium);
  height: var(--header-height);
  width: 100%;
  background: linear-gradient(calc(190deg + var(--a1)),  var(--grad1) 22%, #000 22%,                  #000 26%, transparent 26%) no-repeat,
              linear-gradient(calc(196deg + var(--a1)),  var(--grad2) 22%, #000 22%,                  #000 25%, transparent 25%) no-repeat,
              linear-gradient(calc(-137deg + var(--a1)), var(--grad3) 22%, #000 22%,                  #000 24%, transparent 24%) no-repeat,
              linear-gradient(230deg,                   #66a 9%,        #000 9%,                  #000 12%, #666 12%);

  background-position: 100px 0,
                      153px 1px,
                      103px 0,
                      24px 0;

  animation:18s wave infinite 2s,
            11s swir infinite 4s,
            26s perc infinite;
}

section {
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: calc(100% - var(--header-height));
}


/* --------------------------------
  Typography
--------------------------------- */

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5 {
  margin-bottom: 0.5em;
  font-family: var(--font-secondary);
}

h1 {}
h2 {}
h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-size: 0.8rem;
  font-weight: normal;
}


/* --------------------------------
  Buttons
--------------------------------- */

button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

  button:focus {
    outline: none;
  }


/* --------------------------------
  General
--------------------------------- */

.pad {
  padding: 0.5rem;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.highlight {
  width: var(--rackWidth);
  height: var(--rackHeight);
  border: 4px dashed grey;
  /* // transition: all var(--transition-time) */
  transition: left var(--transition-time), top var(--transition-time);
}

.dropdown,
.select {
  background: rgba(85, 85, 85, 0.85); /* $color-grey-medium */
  color: #fff;
  border-bottom: 1px solid #777; /* $color-grey; */
  border-right: 1px solid var(--color-grey-medium);
  border-left: 1px solid var(--color-grey-medium);
  font-family: var(--font-secondary);
  font-weight: 300;
  line-height: 2em;
  padding: 0em 0.5em;
}

select {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  appearance: none;
}
