
:root {
  --header-height: 48px;
  --font-primary: 'Futura', 'Trebuchet MS', Arial, sans-serif;
  --font-secondary: 'Nunito Sans', sans-serif;

  --transition-time: 0.2s;
  --transition-time-slow: 0.4s;

  // note: this should match dimensions.js:
  --rackHeight: 240px;
  --rackWidth: 60px;
  --cellHeight: 90px;
  --cellWidth: 120px;
  --border-radius: 4px;

  --color-grey: #888;
  --color-grey-dark: #333;
  --color-grey-medium: #555;
  --color-grey-light: #ccc;
  --color-green: #1ed761;

  --color-highlight: #54bfff;
  --color-hover: #349fdf;
}

/* --------------------------------
  Global
--------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  background: linear-gradient(
    rgba(0, 0, 0, 0.666),
    rgba(0, 0, 0, 0.666) ),
    url('/images/bg.jpg'
  );
}

html, body {
  height: 100%;
  font-size: 10px;
}

main {
  height: 100%;
  color: #fff;
  // background-color: #222;
  // background: linear-gradient(to bottom, #2a2a2a 0%, #1a1a1a 100%);
  font-family: var(--font-primary);
  min-width: 600px;
}

header {
  border-bottom: 1px solid var(--color-grey-dark);
  box-shadow: inset 0 -2px 4px var(--color-grey-medium);
  height: var(--header-height);
  width: 100%;
  background-color: #666;
  background: linear-gradient(187deg, #000 0%, #000 22%, transparent 22%) no-repeat,
              linear-gradient(190deg, transparent 22%, #000 22%, #000 26%, transparent 26%) no-repeat,
              linear-gradient(196deg, transparent 22%, #000 22%, #000 25%, transparent 25%) no-repeat,
              linear-gradient(-137deg, transparent 22%, #000 22%, #000 24%, transparent 24%) no-repeat,
              linear-gradient(230deg, #666 22%, #000 22%, #000 23%, #666 23%);
  background-position: 0 0, 17px 0, 14px 0, 36px 0, 80px 0;
}

section {
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: calc(100% - var(--header-height));
}


/* --------------------------------
  Typography
--------------------------------- */

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5 {
  margin-bottom: 0.5em;
  font-family: var(--font-secondary);
}

h1 {}
h2 {}
h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-size: 0.8rem;
  font-weight: normal;
}


/* --------------------------------
  Buttons
--------------------------------- */

button {
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  outline: none;

  &:focus {
    outline: none; // sorry :(
  }
}

.ring {
  border: .2em solid var(--color-grey);
  border-radius: 50%;
  height: 2em;
  width: 2em;

  &.active {
    border-color: var(--color-green);
  }
}

.mode {
  border: 1px solid #333;
  box-shadow: inset 0 0.2em 0.6em rgba(0, 0, 0, 0.3);
  background: var(--color-grey-dark);
  margin-bottom: 1em;
  display: flex;
  width: 100%;

  span {
    flex: 1;
    padding: 0.5em;
    z-index: 1;
    color: #999; // inactive
  }

  &:after {
    content: '';
    position: absolute;
    transition: left var(--transition-time);
    background-color: #54bfff;
    border-radius: 0.3em;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &:hover:after { background-color: #349fdf; }

  .edit-mode &:after { left: 50%; }
}

.play-mode .play { color: #fff; }
.edit-mode .edit { color: #fff; }

.power {
  text-align: center;

  button {
    padding: 0 2em;
    border: 1px solid #222;
    border-radius: 2em;
  }

  svg {
    width: 3.2em;
    height: 4em;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(0 0px 1px rgba(153, 229, 163, 0.2));
  }

  .on {
    border-color: var(--color-green);

    svg {
      fill: var(--color-green);
      filter: drop-shadow(0 0px 4px rgba(153, 229, 163, 0.4));
    }
  }
}


/* --------------------------------
   General
--------------------------------- */

.pad {
  padding: 1rem;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.position-highlight {
  width: var(--rackWidth);
  height: var(--rackHeight);
  border: 4px dashed grey;
  // transition: all var(--transition-time)
  transition: left var(--transition-time), top var(--transition-time);
}

.dropdown,
.select {
  background: rgba(85, 85, 85, 0.85); // $color-grey-medium
  color: #fff;
  border-bottom: 1px solid #777; // $color-grey;
  border-right: 1px solid var(--color-grey-medium);
  border-left: 1px solid var(--color-grey-medium);
  font-family: var(--font-secondary);
  font-weight: 300;
  line-height: 2em;
  padding: 0em 0.5em;
}

select {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  -webkit-appearance: none;
}
