<!DOCTYPE HTML>
<html ng-app="audio">
<head>
	<title>OSC</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/maladjusted.css">
	<script src="lib/angular.min.js"></script>
</head>
<body>

	<oscillator type="saw" output="masterOut">
		<knob param="freq" default="440" max="2000"></knob>
	</oscillator>


	<oscillator type="saw" output="masterOut">
		<knob param="freq" default="455" min="220" max="880"></knob>
	</oscillator>


	<input id="masterOut" type="range" min="0.0" max="1.0" step="0.1" value="1.0" />

	<script src="js/main.js"></script>
	<script src="js/audio.js"></script>
	<script src="js/interface.js"></script>
</body>
</html>